<ion-content>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/menu-principal" routerDirection="back">
                <ion-icon slot="icon-only" name="contact"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Qué necesitas?
        </ion-title>
    </ion-toolbar>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button>
                        <div>
                            <div>
                                <ion-icon name="Laptop"></ion-icon>
                            </div>
                            <span>
                                <b>Sistemas</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button>
                        <div>
                            <div>
                                <ion-icon name="hammer"></ion-icon>
                            </div>
                            <span>
                                <b>Carpinteros</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button>
                        <div>
                            <div>
                                <ion-icon name="rose"></ion-icon>
                            </div>
                            <span>
                                <b>Jardineros</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button>
                        <div>
                            <div>
                                <ion-icon name="home"></ion-icon>
                            </div>
                            <span>
                                <b>Albañiles</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button>
                        <div>
                            <div>
                                <ion-icon name="flash"></ion-icon>
                            </div>
                            <span>
                                <b>Electricistas</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button>
                        <div>
                            <div>
                                <ion-icon name="tv"></ion-icon>
                            </div>
                            <span>
                                <b>Electronicos</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button>
                        <div>
                            <div>
                                <ion-icon name="water"></ion-icon>
                            </div>
                            <span>
                                <b>Plomeros</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button>
                        <div>
                            <div>
                                <ion-icon name="key"></ion-icon>
                            </div>
                            <span>
                                <b>Cerrajeros</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button>
                        <div>
                            <div>
                                <ion-icon name="logo-model-s"></ion-icon>
                            </div>
                            <span>
                                <b>Mecanicos</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button>
                        <div>
                            <div>
                                <ion-icon name="color-palette"></ion-icon>
                            </div>
                            <span>
                                <b>Pintores</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>
</ion-content>