<ion-content>

    <ion-menu side="start" menuId="first" content-id="main" class="my-custom-menu">
        <ion-content>
            <div>
                <span>
                <ion-avatar >
                    <img src="assets/imagenUsuario.svg">
                </ion-avatar>
            </span>
                <span>
                <ion-label>
                    <b>Nombre usuario</b>
                </ion-label>
            </span>
            </div>

            <ion-list>
                <ion-item>Perfil</ion-item>
                <ion-item>Sugerencias</ion-item>
            </ion-list>
        </ion-content>
        <ion-footer>
            <ion-button router-direction="forward" expand="block" routerLink="/r-trabajador">Trabaja con nosotros</ion-button>
        </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="openCustom()">
                <ion-icon slot="icon-only" name="contact"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Qué necesitas?
        </ion-title>
    </ion-toolbar>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button [routerLink]="['/trabajadores/', 1]">
                        <div>
                            <div>
                                <ion-icon name="Laptop"></ion-icon>
                            </div>
                            <span>
                                <b>Sistemas</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button [routerLink]="['/trabajadores/', 2]">
                        <div>
                            <div>
                                <ion-icon name="hammer"></ion-icon>
                            </div>
                            <span>
                                <b>Carpinteros</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button [routerLink]="['/trabajadores/', 3]">
                        <div>
                            <div>
                                <ion-icon name="rose"></ion-icon>
                            </div>
                            <span>
                                <b>Jardineros</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button [routerLink]="['/trabajadores/', 4]">
                        <div>
                            <div>
                                <ion-icon name="home"></ion-icon>
                            </div>
                            <span>
                                <b>Albañiles</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button [routerLink]="['/trabajadores/', 5]">
                        <div>
                            <div>
                                <ion-icon name="flash"></ion-icon>
                            </div>
                            <span>
                                <b>Electricistas</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button [routerLink]="['/trabajadores/', 6]">
                        <div>
                            <div>
                                <ion-icon name="tv"></ion-icon>
                            </div>
                            <span>
                                <b>Electrónicos</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button [routerLink]="['/trabajadores/', 7]">
                        <div>
                            <div>
                                <ion-icon name="water"></ion-icon>
                            </div>
                            <span>
                                <b>Plomeros</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button [routerLink]="['/trabajadores/', 8]">
                        <div>
                            <div>
                                <ion-icon name="key"></ion-icon>
                            </div>
                            <span>
                                <b>Cerrajeros</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button [routerLink]="['/trabajadores/', 9]">
                        <div>
                            <div>
                                <ion-icon name="logo-model-s"></ion-icon>
                            </div>
                            <span>
                                <b>Mecánicos</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button [routerLink]="['/trabajadores/', 10]">
                        <div>
                            <div>
                                <ion-icon name="color-palette"></ion-icon>
                            </div>
                            <span>
                                <b>Pintores</b>
                            </span>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>
</ion-content>