ion-content {
    text-align: center;
}

.my-custom-menu {
    --width: 74%;
}

ion-content>ion-menu>ion-content>div {
    margin: 5vh 0vw 5vh 0vw;
    text-align: -webkit-center;
}

ion-content>ion-menu>ion-content>div>span>ion-avatar {
    border-style: inset;
    border-color: mediumvioletred;
    width: 20vw;
    height: 20vw;
    margin-bottom: 2vh;
}

ion-content>ion-menu>ion-content>div>span>ion-label {
    font-size: 5vw;
}

ion-content>ion-menu>ion-content>ion-list>ion-item {
    font-size: 4vw;
    height: 7.5vh;
}

ion-content>ion-menu>ion-footer>ion-button {
    width: 100%;
    font-size: 5vw;
    text-transform: none;
    height: 7vh;
    --border-radius: 0;
    margin: 0;
}

ion-content>ion-toolbar {
    position: fixed;
}

ion-content>ion-toolbar>ion-buttons>ion-button {
    height: 9vh;
    width: 16vw;
}

ion-content>ion-toolbar>ion-buttons>ion-button>ion-icon {
    height: 100%;
    width: 100%;
}

ion-content>ion-toolbar>ion-title {
    margin: 5vh 24vw 1vh 8vw;
    font-size: 5vw;
}

ion-content>div>ion-grid {
    margin-top: 9vh;
    padding: 0vh 9vw 0vh 9vw;
}

ion-content>div>ion-grid>ion-row>ion-col>ion-button {
    width: 35vw;
    height: 15vh;
    text-transform: none;
}

ion-content>div>ion-grid>ion-row>ion-col>ion-button>div>div {
    height: 4vh;
    margin: 0vh 0vw 2vh 0vw;
}

ion-content>div>ion-grid>ion-row>ion-col>ion-button>div>div>ion-icon {
    height: 100%;
    width: 100%;
}

ion-content>div>ion-grid>ion-row>ion-col>ion-button>div>span {
    font-size: 4vw;
}