<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home" routerDirection="back">
                <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Ingresar
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form (ngSubmit)="login(forma)" #forma="ngForm">
        <div>
            <div>
                <ion-item>
                    <ion-icon name="person"></ion-icon>
                    <ion-input type="text" required ngModel #email="ngModel" name="email" placeholder="Correo" maxLength="200" minLength="3">
                    </ion-input>
                </ion-item>
            </div>
            <div>
                <ion-item>
                    <ion-icon name="key"></ion-icon>
                    <ion-input type="password" required ngModel #clave="ngModel" name="clave" placeholder="Contraseña" maxLength="200" minLength="3"></ion-input>
                </ion-item>
            </div>
        </div>
        <section>
            <ion-button type="submit" [disabled]="!forma.valid">Ingresar</ion-button>
        </section>
    </form>
</ion-content>