<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home" routerDirection="back">
                <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Ingresar
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <div>
            <ion-item>
                <ion-input placeholder="Correo" type="email"></ion-input>
            </ion-item>
        </div>
        <div>
            <ion-item>
                <ion-input placeholder="Contraseña" type="password"></ion-input>
            </ion-item>
        </div>
    </div>
</ion-content>
<ion-footer>
    <section>
        <ion-button expand="block">Ingresar</ion-button>
    </section>
</ion-footer>