<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home" routerDirection="back">
                <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Ingresar
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form (ngSubmit)="enviarData(formulario)" #formulario="ngForm">
        <div>
            <div>
                <ion-item>
                    <ion-icon name="person"></ion-icon>
                    <ion-input [(ngModel)]="model.correo" placeholder="Correo" minlength="5" required type="email" name="correo">
                    </ion-input>
                </ion-item>
            </div>
            <div>
                <ion-item>
                    <ion-icon name="key"></ion-icon>
                    <ion-input [(ngModel)]="model.password" placeholder="Contraseña" minlength="5" required type="password" name="password"></ion-input>
                </ion-item>
            </div>
        </div>
        <section>
            <ion-button type="submit" routerLink="/menu-principal" [disabled]="!formulario.valid">Ingresar</ion-button>
        </section>
    </form>
</ion-content>