<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/menu-principal" routerDirection="back">
                <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Nombre del rol de trabajadores
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <img src="assets/imagenUsuario.svg">
            </ion-avatar>
            <ion-label>
                <h2>Nombre de la persona</h2>
                <h3>Puntuación</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>